body{
    background-color: gray;
    font-family: Verdana;
    font-size: 20px;
    color: white;
}
h1{
    font-size: 48px;
    color: red;
}
a:link{
    color: yellow;
    text-decoration: none;
}
a:visited{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: red;
}