body{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}
#container{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
#logo{
	color: white;
	margin-top: 20px;
	font-weight: 900;
	letter-spacing: 3px;
	font-size: 44px;
}
#menu{
	background-color: #303030;
	margin-top: 20px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	opacity: 0.9;
}
#topbar{
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}
#topbarL{
	float: left;
	border-right: 2px dotted #cccccc;
	padding: 20px;
	width: 138px;
	text-align: center;
}
#topbarR{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}
#sidebar{
	float: left;
	width: 148px;
	min-height: 620px;
	padding: 20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}
#content{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}
#footer{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.option{
	padding: 10px;
	float: left;
	border-right: 2px dotted #444444;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
}
.option:hover{
	background-color: #222222;
	cursor: pointer;
	border-radius: 5px;
	color: #aaaaaa;
}
.option:first-child{
	border-left: 2px dotted #444444;
}
.optionL{
	padding: 10px;
	font-size: 18px;
	height: 25px;
	border-bottom: 2px dotted #444444;
}
.optionL:hover{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}
.bigtitle{
	font-weight: 900;
	font-size: 32px;
	letter-spacing: 2px;
}
.dottedline{
	height: 5px;
	border-bottom: 2px dotted #444444;
	margin-top: 15px;
	margin-bottom: 20px;
}