body{
	background-color: #2F3336;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin: 0;
	min-width: 1000px;
}
#logo{
	background-color: #1F2224;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}
#logo h1{
	font-size: 70px;
	margin-bottom: 0px;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: left;
	color: #1c74b2;
	margin-left: 25px;
	text-shadow: 2px 0 black, 0 2px black, -2px 0 black, 0 -2px black;
	padding: 15px;
}
#logo h3{
	font-size: 30px;
	color: #1d2691;
	margin-bottom: 0;
	margin-top: 0;
	text-align: left;
	text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
	letter-spacing: 2px;
	margin-left: 45px;
}
#logo img{
	margin: 0;
	width: 350px;
	height: 202px;
	position: absolute;
	top: 10px;
	right: 100px;
}
#bottomlogo{
	background-color: white;
}
.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.nav{
	background-color: #c34f4f;
	width: 100%;
	padding: 7 0 10 0;
	text-align: center;
	border-bottom: 1px solid #751b1b;
	border-top: 1px solid #751b1b;
}
ol{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;	
}
ol a{
	text-decoration: none;
	color: #ffffff;
	display: block;
}
ol > li{
	float: left;
	width: 240px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}
ol > li:first-child{
	border-left: 1px dashed #751b1b;
}
ol > li:hover{
	background-color: #cf6969;
}
ol > li:hover a{
	color: #451717;
}
#content{
	text-align: justify;
	font-size: 20px;
	color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #666;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}
#footer{
	background-color: #222222;
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 5px;
}
#tel h1{
	text-align: center;
	font-size: 40px;
	padding: 0;
	margin-top: 5px;
}
#content h1{
	text-align: center;
	margin-top: 5px;
	text-align: center;
	color: #1c74b2;
	font-size: 50px;
	text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
	text-transform: uppercase;
	letter-spacing: 3px;
}
#content h3{
	text-align: justify;
	letter-spacing: 2px;
	font-size: 30px;
	margin-top: 0;
	text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
	padding: 25px;
}
#oferta1{
	float: left;
	width: 275px;
	margin-left: 135px;
}
#oferta1 h3{
	color: #1d2691;
}
#oferta2{
	float: left;
	width: 275px;
}
#oferta2 h3{
	color: #1d2691;
}
#oferta3{
	float: left;
	width: 275px;
}
#oferta3 h3{
	color: #1d2691;
}